[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2024.2.2"
charset-normalizer = "==3.3.2"
colorama = "==0.4.6"
idna = "==3.6"
iniconfig = "==2.0.0"
packaging = "==23.2"
pluggy = "==1.4.0"
pytest = "*"
requests = "*"
urllib3 = "==2.2.0"

[dev-packages]

[requires]
python_version = "3.12"
